[Unit]
Description=tpfan
After=sysinit.target
After=systemd-modules-load.service

[Service]
Type=exec
ExecStart=/sbin/tpfan

[Install]
WantedBy=multi-user.target