[Unit]
Description=tpfan
After=sysinit.target
After=systemd-modules-load.service

[Service]
Type=forking
ExecStart=/sbin/tpfan
PIDFile=/run/tpfan.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Also=tpfan-sleep.service
Also=tpfan-wakeup.service